<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">
      Dados do Líder
      <% if can? :new, Leader %>
        <%= link_to leaders_path, class: "btn btn-primary btn-xs", data: { toggle: 'tooltip', placement: 'top', title: 'Cadastrar' } do %>
          Cadastrar <i class="fa fa-plus"></i>
        <% end %>
      <% end %>
      <% if can? :edit, @leader %>
        <%= link_to edit_leader_path(@leader), class: "btn btn-warning btn-xs", data: { toggle: 'tooltip', placement: 'top', title: 'Editar' } do %>
          Editar <i class="fa fa-pencil"></i>
        <% end %>
      <% end %>
      <%= link_to 'Listagem', leaders_path, class: "btn btn-default btn-xs" %>
    </h3>
  </div>
  
  <div class="box-body no-padding">
    <%= render 'users/user_table', object: @leader %>
  </div>


  <div class="box-body no-padding">
    <div class="row">
      <div class="col-md-9">
        <table class="table table-bordered table-striped">
          <tbody>  
           <tr>
              <th width='15%'><%= Leader.human_attribute_name(:cpf) %></th>
              <td><%= @leader.cpf %></td>
            </tr>         
            <tr>
              <th width='15%'><%= Leader.human_attribute_name(:mother_name) %></th>
              <td><%= @leader.mother_name %></td>
            </tr>
            <tr>
              <th width='15%'><%= Leader.human_attribute_name(:father_name) %></th>
              <td><%= @leader.father_name %></td>
            </tr>           
            <tr>
              <th width='15%'><%= Leader.human_attribute_name(:rg) %></th>
              <td><%= @leader.rg %></td>
            </tr>  
            <tr>
              <th width='15%'><%= Leader.human_attribute_name(:latitude) %></th>
              <td><%= @leader.latitude %></td>
            </tr>  
            <tr>
              <th width='15%'><%= Leader.human_attribute_name(:longitude) %></th>
              <td><%= @leader.longitude %></td>
            </tr>   
          </tbody>
        </table>
      </div>
      
    </div>
  </div>

  
</div>

<%= render 'shared/index', list: @leader.members,
  show_columns: [
    'id', 'name', 'cpf', 'address.city.name_with_state'
  ], 
  hide_links: true
%>

