
<div class="box box-primary bank_account nested-fields">
  <div class="box-header with-border">
    <h3 class="box-title">
      <%= BankAccount.model_name.human %>
    </h3>
  </div>
  <div class="box-body">
    <div class="row ">
      <%= f.association :bank, wrapper_html: { class: 'col-lg-4' }, collection: Bank.all %>
      <%= f.input :agency_number, wrapper_html: { class: 'col-lg-3' } %>
      <%= f.input :agency_check_number, wrapper_html: { class: 'col-lg-1' } %>
      <%= f.input :account_number, wrapper_html: { class: 'col-lg-3' } %>
      <%= f.input :account_check_number, wrapper_html: { class: 'col-lg-1' } %>
    </div>
  </div>
</div>

