<%= content_for :title_page do %>
  <h1>
    <i class="fa fa-fw fa-television"></i>
    Dashboard <%= @user_kind %>
    <small><%= @app_name %></small>
  </h1>
<% end %>

<div class="nav-without-background">
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#tab_1" data-toggle="tab">
          <i class="fa fa-hashtag fa-2x" data-toggle='tooltip' title='Principal'></i>
        </a>
      </li>
          
    </ul>
    <div class="tab-content">

      <div class="tab-pane active" id="tab_1">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-aqua"><i class="fa fa-black-tie"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Líderes</span>
                <span class="info-box-number"><%= @leaders.size %></span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-yellow"><i class="fa fa-user-plus"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Membros</span>
                <span class="info-box-number"><%= @members.size %></span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix visible-sm-block"></div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-green"><i class="fa fa-calendar-check-o"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Membros Visitados</span>
                <span class="info-box-number"><%= @members_visited.size %></span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-red"><i class="fa fa-calendar-times-o"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Membros Não Visitados</span>
                <span class="info-box-number"><%= @members_unvisited.size %></span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="box box-solid">
              <div class="box-header with-border">
                <h3 class="box-title">
                  Líderes
                </h3>
              </div>
              <div class="box-body no-padding">
                <table class="table table-stripped datatables_paginate_and_search">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Nome</th>
                      <th class='text-right'>cpf</th>
                      <th class='text-center'>email</th>
                      <th class='text-center'>Bairro</th>
                    </tr>
                  </thead>
                  <tbody>                  
                      <% @leaders.each do |lds| %>
                        <tr>
                          <td><%= link_to lds.id, lds %></td>
                          <td><%= link_to lds.name, lds %></td>
                          <td class='text-right'><%= lds.cpf %></td>
                          <td class='text-center'><%= lds.user.email %></td>
                          <td class='text-center'><%= lds.address.district %></td>
                        </tr>
                      <% end %>    
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        
          <div class="col-md-6">
            <div class="box box-solid">
              <div class="box-header with-border">
                <h3 class="box-title">
                  Membros
                </h3>
              </div>
              <div class="box-body no-padding">
                <table class="table table-stripped datatables_paginate_and_search">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Nome</th>
                      <th class='text-right'>cpf</th>
                      <th class='text-center'>Líder</th>
                      <th class='text-center'>Status</th>
                      <th class='text-center'>Bairro</th>
                    </tr>
                  </thead>
                  <tbody>                  
                      <% @members.each do |mbs| %>
                        <tr>
                          <td><%= link_to mbs.id, mbs %></td>
                          <td><%= link_to mbs.name, mbs %></td>
                          <td class='text-right'><%= mbs.cpf %></td>
                          <td class='text-center'><%= mbs.leader.name %></td>
                          <td class='text-center'><%= mbs.translate_status %></td>
                          <td class='text-center'><%=mbs.address.district %></td>
                        </tr>
                      <% end %>    
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>                


        <div class="row">
         
          <div class="col-md-6">
            <div class="box box-solid">
              <div class="box-header with-border">
                <h3 class="box-title">
                  Membros Visitados
                </h3>
              </div>
              <div class="box-body no-padding">
                <table class="table table-stripped datatables_paginate_and_search">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Nome</th>
                      <th class='text-right'>cpf</th>
                      <th class='text-center'>Líder</th>
                      <th class='text-center'>Status</th>
                      <th class='text-center'>Bairro</th>
                    </tr>
                  </thead>
                  <tbody>                  
                      <% @members_visited.each do |mbs| %>
                        <tr>
                          <td><%= link_to mbs.id, mbs %></td>
                          <td><%= link_to mbs.name, mbs %></td>
                          <td class='text-right'><%= mbs.cpf %></td>
                          <td class='text-center'><%= mbs.leader.name %></td>
                          <td class='text-center'><%= mbs.translate_status %></td>
                          <td class='text-center'><%=mbs.address.district %></td>
                        </tr>
                      <% end %>    
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        

          <div class="col-md-6">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">
                Membros Não Visitados
              </h3>
            </div>
            <div class="box-body no-padding">
              <table class="table table-stripped datatables_paginate_and_search">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th class='text-right'>cpf</th>
                    <th class='text-center'>Líder</th>
                    <th class='text-center'>Status</th>
                    <th class='text-center'>Bairro</th>
                  </tr>
                </thead>
                <tbody>                  
                    <% @members_unvisited.each do |mbs| %>
                      <tr>
                        <td><%= link_to mbs.id, mbs %></td>
                        <td><%= link_to mbs.name, mbs %></td>
                        <td class='text-right'><%= mbs.cpf %></td>
                        <td class='text-center'><%= mbs.leader.name %></td>
                        <td class='text-center'><%= mbs.translate_status %></td>
                        <td class='text-center'><%=mbs.address.district %></td>
                      </tr>
                    <% end %>    
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>  


      <div class="row">
      <div class="col-md-6">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">
            Visitas Realizadas
          </h3>
        </div>
        <div class="box-body no-padding">
          <table class="table table-stripped datatables_paginate_and_search">
            <thead>
              <tr>
                <th>#</th>
                <th>Data</th>
                <th class='text-center'>Líder</th>
                <th class='text-center'>Membro</th>
                <th class='text-center'>Eleitores</th>
                <th class='text-center'>Bairro</th>
              </tr>
            </thead>
            <tbody>                  
                <% @visits.each do |vst| %>
                  <tr>
                    <td><%= link_to vst.id, vst %></td>
                    <td><%= link_to vst.date_visit, vst %></td>
                    <td class='text-center'><%= vst.member.leader.name %></td>
                    <td class='text-center'><%= vst.member.name %></td>
                    <td class='text-center'><%= vst.number_of_voters %></td>
                    <td class='text-center'><%= vst.member.address.district %></td>
                    
                  </tr>
                <% end %>    
              
            </tbody>
          </table>
        </div>
      </div>
    </div>              
      </div>



        </div>
      </div>

  </div>
</div>


