<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">
      Dados do Eleitor
      <% if can? :new, Member %>
        <%= link_to members_path, class: "btn btn-primary btn-xs", data: { toggle: 'tooltip', placement: 'top', title: 'Cadastrar' } do %>
          Cadastrar <i class="fa fa-plus"></i>
        <% end %>
      <% end %>
      <% if can? :edit, @member %>
        <%= link_to edit_member_path(@member), class: "btn btn-warning btn-xs", data: { toggle: 'tooltip', placement: 'top', title: 'Editar' } do %>
          Editar <i class="fa fa-pencil"></i>
        <% end %>
      <% end %>
      <%= link_to 'Listagem', members_path, class: "btn btn-default btn-xs" %>
    </h3>
  </div>
  
  <div class="box-body no-padding">
  <div class="row">
  <div class="col-md-9">
    <table class="table table-bordered table-striped">
      <tbody>           
        <tr>
          <th width='15%'><%= Member.human_attribute_name(:name) %></th>
          <td><%= @member.name %></td>
        </tr>
        <tr>
          <th width='15%'><%= Member.human_attribute_name(:cpf) %></th>
          <td><%= @member.cpf %></td>
        </tr>
        <tr>
          <th width='15%'><%= Member.human_attribute_name(:birthdate) %></th>
          <td><%= @member.birthdate %></td>
        </tr>
        <tr>
          <th width='15%'><%= Member.human_attribute_name(:address) %></th>
          <td><%= @member.address.full_address %></td>
        </tr>
        <tr>
          <th width='15%'><%= Member.human_attribute_name(:leader) %></th>
          <td><%= @member.leader.name %></td>
        </tr>
        <tr>
          <th width='15%'><%= Member.human_attribute_name(:status) %></th>
          <td><%= @member.translate_status %></td>
        </tr>
         
      </tbody>
    </table>
  </div>
  
</div>
  </div>
  
</div>

<%= render 'shared/index', list: @member.visits,
  show_columns: [    
    'date_visit', 'observation', 'number_of_voters'
  ], 
  hide_links: true
%>

